:root {
  --Challenging_Blue: #266cf4;
  --Shadow_Blue: #135ff3;
  --Enjoy_Yellow: #fce184;
  --Dark: #272727;
  --Gray_bold: #7c8089;
  --Gray_light: #f3f5f9;
  --Gray-70: #757575;
  --purple-50: #6a63f5;
  --Purple-60: #524dd4;
  --Purple-20: #cfcdff;
  --Purple-30: #aeabff;
  --Purple-0: #f8f8ff;
  --Main_Purple_10: #f0efff;
  --Main_Blue: #135ff3;
  --Main_NeonGreen: #0bf275;
  --Sub_Purple: #75f;
  --Sub_Orange: #f90;
  --Gray-100: #212121;
  --Gray-10: #fafafa;
  --Gray-20: #f5f5f5;
  --Gray-30: #eeeeee;
  --Gray-40: #d9d9d9;
  --Gray5_400: #bdbdbd;
  --Gray-60: #959595;
  --Gray7_600: #757575;
  --Gray-80: #616161;
  --Gray9_800: #424242;
  --Gray10_900: #212121;
  --Error_50: #dc362e;
  --White: #fff;
}
