:root {
	--Challenging_Blue: #266cf4;
	--Shadow_Blue: #135ff3;
	--Enjoy_Yellow: #fce184;
	--Dark: #272727;
	--Gray_bold: #7c8089;
	--Gray_light: #f3f5f9;
	--White: #f3f5f9;

	--Main_Blue: #0084ff;
	--Main_NeonGreen: #0bf275;
	--Sub_Purple: #75f;
	--Sub_Orange: #f90;
	--Main_Background: #212121;
	--Gray1_50: #fafafa;
	--Gray2_100: #f5f5f5;
	--Gray3_200: #eeeeee;
	--Gray4_300: #d9d9d9;
	--Gray5_400: #bdbdbd;
	--Gray6_500: #959595;
	--Gray7_600: #757575;
	--Gray8_700: #616161;
	--Gray9_800: #424242;
	--Gray10_900: #212121;
	--Error_50: #dc362e;
	--White1: #fff;
}
